/***** normalize-ccs *****/


html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main { /* 1 */
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details, /* 1 */
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/***** normalize-ccs *****/

/* общее */
body.index {
	min-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', Arial, Tahoma, San-francis, sans-serif;
	font-size: 16px;
	line-height: calc(20/16);
	background: #000000 url(../img/bg.jpg) no-repeat 50% 40px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;

}

* {
	box-sizing: border-box;
	font-size: 0;
}

.container {
	margin: 0 auto;
	width: 940px;
}

a {
	text-decoration: none;
	font-size: 14px;
	line-height: calc(24/16);
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}

button {
	font-family: 'PT Sans Narrow', Arial, Tahoma, San-francis, sans-serif;
	border: none;
	font-size: 14px;
	line-height: calc(24/16);
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}

h2 {
	font-size: 30px;
	line-height: calc(42/30);
	font-weight: bold;
}

h3 {
	font-size: 24px;
	line-height: calc(30/24);
	color: #000000;
}

/* шапка */	

header {
	background: #000000;
	height: 72px;
}

.header-nav {
	margin-left: 10px;
	display: flex;
}

nav a {
	font-size: 16px;
	line-height: calc(20/16);
	text-decoration: none;
	padding: 10px;
	color: #ffffff;
	margin-top: 15px;
	margin-right: 20px;
	display: inline-block;
}

.login {
	margin-left: 290px;
	margin-right: 0;
	background: url(../img/sprites.png) no-repeat -300px -55px;
	padding-left: 40px;
}

.logo-header {
	text-align: center;
	padding-left: 15px;
	margin-top: 60px;
}

.logo {
	width: 371px;
	height: 155px;
}

/* майн */


/* -особенности- */
.features {
	display: flex;
	align-items: baseline;
	height: 100%;
	justify-content: center;
	margin-top: 70px;
	margin-bottom: 81px;
}

.feature-item { 
	box-sizing: content-box;
	background: url(../img/sprites.png) no-repeat -935px -400px;
}

.feature-item-1 {
	width: 251px;
	text-align: center;
	padding-right: 60px;
	padding-left: 25px;
}

.feature-item-2 {
	width: 270px;
	text-align: center;
	padding-right: 43px;
}

.feature-item-3 {
	width: 283px;
	text-align: center;
	padding-right: 8px;
}

.feature-item h2 {
	margin-top: 0;
}

.feature-item p {
	margin-bottom: 0;
	padding-top: 53px;
	font-size: 14px;
	line-height: calc(24/14)
}

/* блок-1 */

.news-and-photo div {
	background: #ffffff url(../img/bg-block.jpg);
	padding-top: 34px;
}
.news-and-photo {
	display: flex;
	height: 419px;
}

.news-and-photo h2 {
	margin: 0;
	color: #000000;
}

.news { 
	width: 50%;
	padding-left: 80px;
	padding-right: 40px;
	padding-bottom: 50px;

}

.news a {
	text-decoration: none;
}

.news p {
	font-size: 14px;
	line-height: calc(24/14);
	color: #000000;
	margin: 0;
}

.news h2 {
	margin-bottom: 14px;
}

.news-date {
	font-size: 14px;
	text-transform: lowercase;
	color: #000000;
	display: inline-block;
	margin-bottom: 30px;
}

.photo {
	width: 50%;
	padding-left: 90px;
	padding-right: 80px;
	padding-bottom: 50px;
	background: url(../img/sprites.png) no-repeat 724px -516px;
}

.photo img  {
	padding: 7px;
	background-color: #ffffff;
	margin-top: 16px;
	margin-bottom: 38px;
}

.photo .btn {
	width: 140px; 
 	padding: 13px;
 	margin-right: 20px;
}

.photo .btn:last-child {
	margin-right: 0;
}

.btn {
	display: inline-block;
	background-color: #000000;
	border: none;
	text-align: center;
	width: 140px; 
 	padding: 13px; 
}

.news .div-btn {
	padding: 0;
	height: 50px;
}

/* блок-2 */

.contacs-and-visit {
	background: #ffffff url(../img/bg-block.jpg);
	color: #000000;
	padding-top: 34px;
	min-height: 420px;
	margin-top: 36px;
	display: flex;
	height: 435px;
}

.contacs-and-visit p {
	font-size: 14px;
	line-height: calc(24/14);
	color: #000000;
}

.contacs-and-visit h2 {
	margin: 0;
	margin-bottom: 15px;
	margin-top: 5px;
}

.contacs {
	width: 50%;
	padding-left: 80px;
	padding-right: 40px;
}

.contacs .btn {
 	margin-right: 20px;
}

.visit {
	width: 50%;
	padding-left: 90px;
	padding-right: 80px;
}

.visit form {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.visit .form {
	padding-right: 20px;
}

.visit .form:nth-child(2n) {
	padding-right: 0;
}

.visit label, input, .form {
	font-family: 'PT Sans Narrow', Arial, Tahoma, San-francis, sans-serif;
	font-size: 14px;
	line-height: calc(24/14);
}

.visit label {
	display: block;
	padding-bottom: 10px;
	padding-left: 17px;
}

.visit label:nth-child(3) {
	padding-top: 0;
}

.visit label:nth-child(4) {
	padding-top: 0;
}

.visit input {
	width: 140px;
	height: 43px;
	border: 2px solid #000000;
	font-weight: bold;
	padding: 14px 15px 12px 15px;
	margin-bottom: 10px;
}

.visit .btn {
	width: 300px; 
	margin-top: 10px;
}

/* футер */

footer {
	background: #232323 url(../img/bg-footer.jpg);
	height: 193px;
	margin-top: 65px;
}

.footer {
	display: flex;

}

.footer p {
	font-family: 'PT Sans Narrow', Arial, Tahoma, San-francis, sans-serif;
	font-size: 14px;
	line-height: calc(24/14);
}

.footer-info {
	padding-top: 25px;
}

.footer-info .location {
	text-decoration: underline;
}

.footer-socium {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 146px;
	margin-right: 254px;
	margin-left: 93px;
	padding-top: 25px;
}

.footer-socium .socium-btn {
	width: 43px;
	height: 43px;
	margin-right: 5px;
}

.footer-socium a {
	padding: 21px;
}

.footer-socium .btn-vk {
	background: #000000 url(../img/sprites.png) -156px -55px;
}

.footer-socium .btn-faceboock {
	background: #000000 url(../img/sprites.png)  -206px -254px;
}

.footer-socium .btn-inst {
	background: #000000 url(../img/sprites.png) -52px -305px;
}

.footer-developer {
	padding-top: 25px;
	text-align: center;
}

/*=========================================*/
				/* Shop */
/*=========================================*/

body.shop {
	min-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans Narrow', Arial, Tahoma, San-francis, sans-serif;
	font-size: 16px;
	line-height: calc(20/16);
	background: #ffffff url(../img/bg-shop.jpg);
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

nav.shop-header-nav {

}

.header-nav .login-2 {
	padding-left: 30px;
	margin-left: 141px;
}

.breadcrumbs h2 {
	font-size: 30px;
	line-height: calc(42/30);
	margin: 0;
	margin-top: 50px;
}

nav.shop-nav a {
	font-size: 14px;
	line-height: calc(20/14);
	color: #000000;
	margin-top: 10px;
	margin-bottom: 35px;

}

nav.shop-nav a:first-child {
	padding-left: 0px;
}

.shop-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.shop-page .manufacturer h3 {
	margin-top: 0;
}

.shop-page label{
	font-size: 14px;
	line-height: calc(18/14);
	color: #000000;
	padding-left: 23px;
	display: inline-block;
	max-width: 165px;
}

.shop-filters .btn {
	margin-top: 29px;
	width: 112px;
}

.shop-page .filter-item {
	padding-bottom: 22px;
}

.shop-catalog {
	width: 700px;
	height: 612px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
}

.shop-page .catalog-item {
	width: 220px;
	height: 286px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #ffffff;
	margin-right: 20px;
	margin-bottom: 20px;
}

.shop-page .catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item img {
	width: 220px;
	height: 165px;
}

.catalog-item .price {
	font-size: 14px;
	line-height: calc(18/14);
	display: inline-block;
	width: 109px;
	height: 43px;
	padding: 14px;
	text-align: center;
	background: #e5e5e5;
}

.catalog-item .btn {
	width: 78px;
	height: 43px;
	padding: 12px;
}

.catalog-item .item-name {
	font-size: 14px;
	line-height: calc(18/14);
	text-transform: none;
	margin: 0;
	padding-right: 40px;
}

.paginator {
		margin-top: 25px;
		margin-bottom: 50px;
}

.paginator .btn {
	width: 43px;
	height: 43px;
	margin-right: 7px;

}

.paginator .btn:nth-child(2) {
	background: #ffffff;
	color: #000000;
}

.footer {
	color: #ffffff;
}